{% extends 'index.html' %}

{% block title %}Edit{% endblock %}

{% block content %}
    <center>
        <h1>Edit Registration Form</h1>
        <br>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <style>
                #id_password{
                    display: none;
                }
                label[for='id_password']{
                        display: none;
                }
            </style>
            
            {{form1.as_p}}
            {{form2.as_p}}
          


          <input type="submit" value="Register">
        </form>
    </center>
{% endblock %}